.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.content {
  background-color: rgb(213, 213, 236);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

h1 {
  color: #333;
}

form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 400px;
  background-color: rgb(213, 213, 236);
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.input {
  border: none;
  width: 90%;
  margin: 10px;
  padding: 3%;
  border-radius: 20px;
}

.button {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(108, 218, 108);
}

h2 {
  margin-top: 20px;
}

.resultado {
  font-size: 18px;
  background-color: rgb(213, 213, 236);
  padding: 10px;
}